	<h5 id="statelayer" style="text-align: center;"></h5>

	<div class="row mb-3">
		<div class="col-12">
			<p><span class="wpcf7-form-control-wrap" data-name="nomprenom"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required input form-control" aria-required="true" aria-invalid="false" placeholder="Nom et Prénom*" value="" type="text" name="nomprenom"><small style="font-size: 10px;" id="nomprenom"></small style="font-size: 10px;"></span>
			</p>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-12">
			<p><span class="wpcf7-form-control-wrap" data-name="email"><input size="40" class="wpcf7-form-control wpcf7-email wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-email input form-control" aria-required="true" aria-invalid="false" placeholder="E-mail*" value="" type="email" name="email"><small style="font-size: 10px;" id="email"></small style="font-size: 10px;"></span>
			</p>
		</div>
	</div>	
	<div class="row mb-3">
		<div class="col-12">
			<p><span class="wpcf7-form-control-wrap" data-name="montant"><input size="40" class="wpcf7-form-control wpcf7-text input form-control" aria-invalid="false" placeholder="Montant*" value="" type="text" name="montant"><small style="font-size: 10px;" id="montant"></small style="font-size: 10px;"></span>
			</p>
		</div>
	</div>

	<div class="row mb-3">
		<div class="col-12">
			<p><span class="wpcf7-form-control-wrap" data-name="verificationcode"><input size="40" class="wpcf7-form-control wpcf7-text input form-control" aria-invalid="false" placeholder="Code à vérifier*" value="" type="text" name="verificationcode"><small style="font-size: 10px;" id="verificationcode"></small style="font-size: 10px;"></span>
			</p>
		</div>
	</div>
	
	<div class="row">
		<div class="col-12 mb-3">
			<p><span class="wpcf7-form-control-wrap" data-name="votre-question"></span>
			</p>
		</div>		
		<div class="col-12">
			<p><input class="wpcf7-form-control wpcf7-submit has-spinner et_pb_contact_submit et_pb_button" type="button" value="Vérifier" disabled="">
			</p>
		</div>
	</div>
	<div class="mb-3">
		<p><small style="font-size: 10px;">Ce site est protégé par reCAPTCHA et la <a href="https://policies.google.com/privacy">Politique de confidentialité</a> et les <a href="https://policies.google.com/terms">Conditions d'utilisation</a> de Google s'appliquent.</small style="font-size: 10px;">
		</p>
	</div>